*{
    padding: 0;
    margin: 0;
}
body {
    background: #FFE4E1;
    display: flex;
    justify-content: center;
}
.container{
    width: 100%;
    display: flex;
    gap: 50px;
    margin-top: 30px;
    align-self: center; 
}

video{
    border-radius: 10px;
    background:white;
    width: 500px;
    height: 500px;
}
#filters{
    width: 100%;
    display:flex;
    justify-content: center;
    gap: 10px;
}
#filters button{
    width:fit-content;
    height: fit-content;
    
}
button {
    font-family: chewy;
    display: block;
    justify-self: center;
    margin-top: 20px;
    padding: 10px 20px;
    color: black;
    box-shadow: 0px 0px 2px 0px black;
    background-color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #3d3d3f;
    color: crimson;
}
#photos{
    justify-self: center;
    align-self: center;
    width: fit-content;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 10px;
}
.photo{
    width: 200px;
    margin: 5px;
    animation:fadein 1s forwards
}
@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media screen and (max-width:750px) {
    .container video{
        width: 300px;
        height: 300px;
    }
    button{
        font-size: 13px;
        padding: 10px;
    }
}

